<div class="container">
    <div class="row">
        <div class="thumbnail">
            <div class="one pic">
                <img src="3.jpg" alt="">
                <a href="/login"><input type="submit" value="Add cart" ></a>
            </div>

            <div class="one pic">
                <img src="3.jpg" alt="">
                <a href="/login"><input type="submit" value="Add cart" ></a>
            </div>
        </div>
    </div>
</div>