<div class="container">
    <div class="row">
        <div class="thumbnail">
            <div class="one pic">
                <img src="3.jpg" alt="">
                <input type="submit" value="Add cart" >
            </div>
        </div>
    </div>
</div>