<form action="" method="POST">
    <div class="box">
        <div class="form">
            <img src="3.jpg" alt="">
   
            <div class="inputbox">
                <input type="text" name="title"  required="required" placeholder="name of good">
                <span>email</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" name="kinds" required="required" placeholder="type of good e.g sneaker">
                <span>password</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input type="text" name="color" required="required" placeholder="color">
                <span>password</span>
                <i></i>
            </div>
           
            <a href="/profile" style="text-decoration: none;"><input type='submit' value="Add to cart"></a>
        </div>

    </div>

</form>