
<div class="container mb-5 mt-5">
     <h1>Reset password</h1>

     <form action="" method="POST">
        <input type="password" required placeholder="enter new password" name="password">
        <br> <br>
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <input type="submit" value="Reset" class="btn btn-info">
     </form>
</div>


